<h1>ALL TODO ENLISTED</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.description %></td>
        <td><%= link_to 'Show', todo_path(todo) %></td>
        <td><%= button_to 'Delete', todo_path(todo), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>